.bg-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/random-no-generator-bg.png');
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.heading {
  color: #0b69ff;
  font-size: 25px;
  text-align: center;
}

.note-message {
  font-size: 15px;
  text-align: center;
  padding-bottom: 10px;
}

.generate-button {
  padding: 10px 25px;
  border-radius: 5px;
  border: none;
  background-color: #0b69ff;
  color: white;
}

.generate-number-text {
  color: #0b69ff;
  font-size: 40px;
  font-weight: 600;
}
